@using Trial_3.Data;
@model IQueryable<Product>
@{
    ViewData["Title"] = "Home Page";
    var _total = Decimal.Parse(ViewBag.TotalPrice as String ?? "0.0");
    var _dkk = new System.Globalization.CultureInfo("da-DK");
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restaurant ASP.NET</h1>
    <div class="w-100">
        <p>The menu of today, courtesy of Chef Bootstrap and Razor the waiter:</p>
        <ul class="list-group">
            @foreach (var product in Model)
            {
                <li class="list-group-item">
                    @product.Name - @product.Price.ToString("C", _dkk)
                </li>
            }
        </ul>
        <form method="POST">
            <div class="input-group mb-6">
                <label class="input-group-text" for="productSelect">Options</label>
                <select class="form-select" id="productSelect">
                    @foreach (var product in Model)
                    {
                        <option value=@product.Id>@product.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">@_total.ToString("C", _dkk)</span>
                <input type="text" class="form-control" placeholder="Your age" aria-label="Your age"
                        aria-describedby="button-addon2" id="ageInput" />
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>
